@import './settings/all'
@import './global/all'


.c-list
    display: flex
    flex-direction: column

.c-list__story
    display: flex 
    flex-direction: column
    margin-bottom: 20px

    .title-link   
        display: inline-block
        margin-bottom: 5px

    .domain
        color: #777777
        font-size: 14px
        
    .c-item-info
        color: #777777
        font-size: 12px

        @media (min-width: 1024px)
            font-size: 14px

    .comments-link  
        color: inherit
        display: inline-block

    span   
        margin-right: 10px