@import './settings/all'
@import './global/all'


.c-list
    display: flex
    flex-direction: column
    padding: 20px 20px 0 20px

    &:nth-child(n+2)
        padding: 0 20px

.c-story
    display: flex 
    flex-direction: column
    margin-bottom: 20px

.c-story__link   
    display: inline-block
    margin-bottom: 5px

.c-story__source
    color: #777777
    font-size: 14px
    
.c-story__meta
    color: #777777
    font-size: 12px

    @media (min-width: 1024px)
        font-size: 14px

    span   
        margin-right: 10px

.c-story__comments-link
    color: inherit
    display: inline-block

    