.app-container
    display: grid 
    grid-template-columns: 1fr
    grid-template-rows: 50px 1fr
    height: 100vh
    position: relative 
    margin: 0 auto
    width: 100% 

    &.visible
        display: grid

    @media (min-width: 1024px)
        max-width: 1280px

.app-header
    grid-row: 1 / 2
    grid-column: 1 / 2
    height: 50px

.app-content  
    background: $gray
    grid-column: 1 / 2
    
.c-comment
    border-bottom: 1px solid
    margin-bottom: 20px

.c-comment__info
    color: #777777
    font-size: 13px

.c-comment__author
    padding-right: 5px

.c-comment__content
    font-size: 14px

    a  
        text-decoration: underline


.load-more
    background: $blueGray
    border: 0
    cursor: pointer
    height: 40px
    width: 100%

.comments-page

    .c-story
        padding: 20px 20px 0 20px